<meta charset="UTF-8">
<script src="js/jquery-3.2.1.min.js" type="application/javascript"></script>
<script src="js/bootstrap.min.js" type="application/javascript"></script>
<script src="js/community.js" type="application/javascript"></script>
<script src="editor.md/editormd.min.js" type="application/javascript"></script>
<script src="editor.md/editormd.js"></script>
<script src="editor.md/lib/marked.min.js"></script>
<script src="editor.md/lib/prettify.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/community.css">
<link rel="stylesheet" href="editor.md/css/editormd.min.css" />
<link rel="stylesheet" href="editor.md/css/editormd.preview.css" />